<nav>
  <h1></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" title="Headshot"/>
    {% endif %}
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a>
    <br>Rashid Dar</br></h2>
  <div id="bio">
    <center><a href='mailto:dar.rashid@gmail.com' target='_blank' >E-mail me</a></center><br><center>
      <p><center><a href='https://calendar.app.google/5rpzvKAprevGTvMZ9' target='_blank' >Schedule a meeting</a></center></p>
    <p><div id="social">
      {% include social.html %}
    </div></p><p>
      <p><p><center>Quote of the moment:</center></p>
<blockquote><p><center>As our own species is in the process of proving, one cannot have superior science and inferior morals. The combination is unstable and self-destroying.</center></blockquote></p>

  <p><center>– Arthur C. Clarke</p>
  <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<!--Ye gates, unfold; strong walls, fall down;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bow minaret and dome!</br>
The seer, who fled with life proscribed,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns as conqueror &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;home.</br></p>

<p>Ten thousand followers swell his train,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All armed with sword and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shield;</br>
His foes have found their forces melt,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And now must humbly &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yield.</br></p>

<p>No blood he sheds, no fine exacts,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No prince to prison &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sends;</br>
Forgives, forgets all injuries past,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treats enemies as friends.</br></p>

<p>Oh, hence may we a lesson learn
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sweet tempers to display,</br>
And ne'er resent the varied wrongs
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We suffer day by day.</br></p>

<p>Tho' others call our faith a sin,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And motives bad impute;</br>
May we no angry word reply,
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;But rest in patience mute.</br></p>

<p>So shall they see that in our hearts
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;God's spirit truly lives;</br>
And honour with unfeigned respect
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The gentle grace it gives.</br></p>

<p>— "<a href="http://www.masud.co.uk/ISLAM/bmh/BMH-ADT-poem6.htm">Hymn On The Capture Of Mecca</a>" by Amherst D. Tyssen</p>
    </p>
  </div>
<!--this is where the social header code in line 14-16 used to be-->
</nav>
